<div>

  <div class="page-header"><h1>Ad Details</h1></div>

  <form class="form-horizontal" action="/ads/sell" method="post">
    <div class="container">
      <% if form.failed? %>
        <div class="form-group required has-error">
          <label class="col-md-2 control-label" for="title">Title</label>
          <div class="col-md-4"><input type="text" class="form-control" name="title" id="title" placeholder="Enter a title."></div>
          <div class="col-md-6"><p class="form-control-static">2010 AQHA Cutting Mare</p></div>
        </div>
      <% else %>
        <div class="form-group required">
          <label class="col-md-2 control-label" for="title">Title</label>
          <div class="col-md-4"><input class="form-control" type="text" name="title" id="title"></div>
          <div class="col-md-6"><p class="form-control-static">2010 AQHA Cutting Mare</p></div>
        </div>
      <% end %>

      <div class="form-group">
        <label class="col-md-2 control-label" for="name">Horse Name</label>
        <div class="col-md-4"><input class="form-control" type="text" name="name" id="name"></div>
      </div>

      <% if form.failed? %>
        <div class="form-group required has-error">
          <label class="col-md-2 control-label" for="price">Price</label>
          <div class="col-md-4">
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <input class="form-control" type="text" placeholder="Enter a price as a whole number." name="price" id="price">
              <span class="input-group-addon">.00</span>
            </div>
          </div>
        </div>
      <% else %>
        <div class="form-group required">
          <label class="col-md-2 control-label" for="price">Price</label>
          <div class="col-md-4">
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <input class="form-control" type="text" name="price" id="price">
              <span class="input-group-addon">.00</span>
            </div>
          </div>
        </div>
      <% end %>

      <div class="form-group required">
        <label class="col-md-2 control-label" for="price">Price</label>
        <div class="col-md-4">
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input class="form-control" type="text" name="price" id="price">
            <span class="input-group-addon">.00</span>
          </div>
        </div>
      </div>

      <% if form.failed? %>
        <div class="form-group required has-error">
          <label class="col-md-2 control-label" for="description">Description</label>
          <div class="col-md-4">
            <textarea class="form-control" rows="4" placeholder="Enter a description." name="description" id="description"></textarea>
          </div>
          <div class="col-md-6">
            <p class="form-control-static">What to include: Registration papers? Professional training? 
            Current on shots and coggins? Any health issues or bad habits? Height?</p>
          </div>
        </div>
      <% else %>
        <div class="form-group required">
          <label class="col-md-2 control-label" for="description">Description</label>
          <div class="col-md-4">
            <textarea class="form-control" rows="4" name="description" id="description"></textarea>
          </div>
          <div class="col-md-6">
            <p class="form-control-static">What to include: Registration papers? Professional training? 
            Current on shots and coggins? Any health issues or bad habits? Height?</p>
          </div>
        </div>
      <% end %>

      <div class="form-group">
        <label class="col-md-2 control-label" for="primary-breed">Primary Breed</label>
        <div class="col-md-4">
          <select class="form-control" name="primary-breed" id="primary-breed">
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label" for="secondary-breed">Secondary Breed</label>
        <div class="col-md-4">
          <select class="form-control" name="secondary-breed" id="secondary-breed">
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label" for="disciplines">Disciplines</label>
        <div class="col-md-4">
          <select multiple class="form-control" name="disciplines" id="disciplines">
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
        </div>
        <div class="col-md-6">
          <p class="form-control-static">Hold down ctrl to select more than one.</p>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label" for="attributes">Attributes</label>
        <div class="col-md-4">
          <select multiple class="form-control" name="attributes" id="attributes">
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
        </div>
        <div class="col-md-6">
          <p class="form-control-static">Hold down ctrl to select more than one.</p>
        </div>
      </div>

      <% if form.failed? %>
        <div class="form-group required has-error">
        <% else %>
          <div class="form-group required">
          <% end %>
          <label class="col-md-2 control-label" for="gender">Gender</label>
          <div class="col-md-4">
            <select class="form-control" name="gender" id="gender">
              <option value="gelding">Gelding</option>
              <option value="mare">Mare</option>
              <option value="stallion">Stallion</option>
            </select>
          </div>
        </div>

        <% if form.failed? %>
          <div class="form-group required has-error">
          <% else %>
            <div class="form-group required">
            <% end %>
            <label class="col-md-2 control-label" for="age">Age</label>
            <div class="col-md-4">
              <select class="form-control" name="age" id="age">
                <option value="" selected disabled>Age</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-2 control-label" for="color">Color</label>
            <div class="col-md-4">
              <select class="form-control" name="color" id="color">
                <option>Color1</option>
                <option>Color2</option>
                <option>Color3</option>
              </select>
            </div>
          </div>

          <% if form.failed? %>
            <div class="form-group required has-error">
            <% else %>
              <div class="form-group required">
              <% end %>
              <label class="col-md-2 control-label" for="temp">Temperament</label>
              <div class="col-md-4">
                <select class="form-control" name="temp" id="temp">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                </select>
              </div>
              <div class="col-md-2"><p class="form-control-static">1 - Very Calm</p></div>
              <div class="col-md-2"><p class="form-control-static">10 - Extremely Hot</p></div>
            </div>

            <h2>Location</h2>

            <% if form.failed? %>
              <div class="form-group required has-error">
              <% else %>
                <div class="form-group required">
                <% end %>
                <label class="col-md-2 control-label" for="state">State</label>
                <div class="col-md-4">
                  <select multiplie class="form-control" name="state" id="state">
                    <option>State1</option>
                    <option>State2</option>
                    <option>State3</option>
                  </select>
                </div>
              </div>

              <% if form.failed? %>
                <div class="form-group required has-error">
                  <label class="col-md-2 control-label" for="zip">Zip Code</label>
                  <div class="col-md-4">
                    <input class="form-control" type="text" placeholder="Enter your current 5 digit zip code." name="zip" id="zip">
                  </div>
                </div>
              <% else %>
                <div class="form-group required">
                  <label class="col-md-2 control-label" for="zip">Zip Code</label>
                  <div class="col-md-4">
                    <input class="form-control" type="text" name="zip" id="zip">
                  </div>
                </div>
              <% end %>

              <h2>Contact Information</h2>

              <% if form.failed? %>
                <div class="form-group required has-error">
                  <label class="col-md-2 control-label" for="email">Email</label>
                  <div class="col-md-4"><input class="form-control" placeholder="Enter a valid email address." type="text" name="email" id="email"></div>
                </div>
              <% else %>
                <div class="form-group required">
                  <label class="col-md-2 control-label" for="email">Email</label>
                  <div class="col-md-4"><input class="form-control" type="text" name="email" id="email"></div>
                </div>
              <% end %>

              <div class="form-group">
                <label class="col-md-2 control-label" for="phone">Phone Number</label>
                <div class="col-md-4"><input class="form-control" type="text" name="phone" id="phone"></div>
              </div>

              <div class="form-group">
                <label class="col-md-2 control-label" for="address">Address</label>
                <div class="col-md-4"><textarea class="form-control" rows="3" name="address" id="address"></textarea></div>
              </div>

              <button type="submit" class="btn btn-default">Next</button>
            </div>
          </form>
        </div>
